.container {
  max-width: 960px;
}


/*
 * Header
 */
 .masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
.header_logo{
  height: 50px;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}
@media (max-width: 576px) {
  .header_logo{
    height: 50px;
  }
}


/*
 * Cover
 */
 .cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
.cover_logo{
  height: 100px;
}

@media (max-width: 576px) {
  .cover_logo{
    height: 100px;
  }

  .main_section_home{
    margin-top: -1em;
  }
}
.main_section {
  margin-top: -3em!important;
}

@media (max-width: 768px) { 
  .main_section{
    margin-top: 0em !important;
  }
}

@media (max-width: 576px) {
  .main_section {
    margin-top: 0em;
  }
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

.background_jumbo{
  background-image: url("../images/jumbotron_image.jpg")!important; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.card{
  border: #333;
  border-radius: 10px;
}
.text-center{
  text-align: center;
}

.card .topper{
  background-color: #D13B3B;
  color: white;
}

/* Oepning times footer */

.demo-bg{
  background: #D13B3B;
  margin-top: 60px;
  }
  .business-hours {
  background: #222; 
  padding: 40px 14px;
  margin-top: -15px;
  position: relative;
  }
  .business-hours:before{
  content: '';
  width: 23px;
  height: 23px;
  background: #111;
  position: absolute;
  top: 5px;
  left: -12px;
  transform: rotate(-45deg);
  z-index: -1;
  }
  .business-hours .title {
  font-size: 20px;
  color: #BBB;
  text-transform: uppercase;
  padding-left: 5px;
  border-left: 4px solid #D13B3B; 
  }
  .business-hours li {
  color: #888;
  line-height: 30px;
  border-bottom: 1px solid #333; 
  }
  .business-hours li:last-child {
  border-bottom: none; 
  }
  .business-hours .opening-hours li.today {
  color: #D13B3B; 
  }

  .footer_logo{
    bottom:0; position:absolute; margin-bottom: 3em;
    height: 100px;
  }